.body {
  /* background-image: -webkit-linear-gradient(left, #2fc96c, #13a1ee) !important; */
  height: 100vh;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.title {
  font-size: 8vh !important;
  padding: 2rem;
  font-weight: 100;
  font-family: "Roboto", sans-serif !important;
  color: whitesmoke !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content1 {
  color: whitesmoke !important;
  font-family: "Roboto", sans-serif !important;
  margin-bottom: 1rem !important;
  font-size: 1.2rem !important;
}

.content2 {
  color: whitesmoke !important;
  font-family: "Roboto", sans-serif !important;
  margin-bottom: 1rem !important;
  font-size: 0.9rem !important;
}

.login_button {
  background: #121212 !important;
  font-family: "Roboto", sans-serif !important;
  color: white !important;
}

.facebook_icon {
  font-size: 4vh !important;
  color: white !important;
  margin-right: 2vh;
}

.link_content {
  color: white !important;
}
