/*New*/
.news {
  margin-bottom: 2.5rem;
}

.news_title {
  background-color: #f9f7f6;
  height: 8rem;
}

.title {
  font-weight: 700 !important;
  text-align: center;
  text-transform: uppercase;
}

.card {
  border: 1px solid black;
}
