/*New*/
.title {
  text-align: center;
  font-size: 5.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: #646464;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.news {
  position: relative;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.card {
  border: 1px solid black;
}
