/*Header */
.shopName {
  font-size: 3vh;
  text-align: center;
  font-weight: 700;
  overflow: hidden;
}

.app_bar {
  background-color: white !important;
  /* position: relative !important; */
}

/*Carousel*/
.arrow_left {
  position: relative;
}

.images_slider {
  animation-duration: 2s;
  transition-duration: 2s;
}

.arrow_right {
  position: relative;
}

.carousel_wrapper {
  position: relative;
}

.info {
  position: absolute;
  font-size: 1.8rem;
  text-align: center;
  padding: 1rem;
  height: fit-content;
  color: white;
  background: rgba(24, 20, 20, 0.5);
}

/*footer*/

.footer {
  padding: 1rem;
}

/*Gallery*/
.gallery {
  text-align: center;
}

.view_gallery {
  position: relative;
  background: rgba(24, 20, 20, 0.5);
  height: 25vh;
  top: -25.6vh;
}

.title {
  text-align: center;
  font-size: 5.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: #646464;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.view_button {
  top: 10vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 700 !important;
  background-color: white !important;
  border-radius: 1vh !important;
}
