.about_page {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.title {
  font-weight: 700 !important;
  padding-bottom: 2.5rem;
  text-transform: uppercase;
}
.about {
  padding: 8vh 0vh;
  font-size: 1.3rem !important;
}
