/*New*/
.title {
  font-weight: 700 !important;
  padding-bottom: 2.5rem;
  text-transform: uppercase;
}

.news {
  position: relative;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.card {
  border: 1px solid black;
}
