.slick-slide {
  height: unset !important;
  margin: 0 10px;
}
/* the parent */
.slick-list {
  margin: 0 -10px;
}

.slick-prev,
.slick-next {
  font-size: 15px;
}

.slick-prev:before,
.slick-next:before {
  content: "" !important;
}
