.contact_page {
  margin-bottom: 2.5rem;
}

.contact_title {
  background-color: #f9f7f6;
  height: 8rem;
}

.title {
  font-weight: 700 !important;
  text-align: center;
  text-transform: uppercase;
}

.divider {
  background-color: black !important;
}

.child_title {
  color: black !important;
  font-weight: 700 !important;
  font-size: 1.5rem;
}

.child_content {
  text-align: start;
}

.child {
  padding-left: 5vh !important;
  margin-right: 5vh !important;
}

.txtInput {
  margin-top: 5vh !important;
}

.btn_send {
  margin-top: 5vh !important;
  width: 60% !important;
  background: black !important;
  text-align: center;
  padding: 0 !important;
}

.btn_content {
  color: white !important;
  font-size: 3vh !important;
  padding: 0.7rem;
}

.btn_send :hover {
  background: #646464 !important;
}
