.about_page {
  position: relative;
  margin-top: 35vh;
  margin-bottom: 10%;
}

.title {
  color: #646464 !important;
  font-weight: 700 !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  padding-bottom: 5vh;
}
