.about_page {
  /* margin-bottom: 2.5rem; */
  min-height: 100vh;
}

.about_title {
  background-color: #f9f7f6;
  height: 8rem;
}

.title {
  font-weight: 700 !important;
  text-transform: uppercase;
}
.about {
  padding: 8vh 0vh;
  font-size: 1.3rem !important;
}
