/*Header */
.shopName {
  font-size: 5vh;
  padding: 0vh 6vh;
  color: red;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.app_bar {
  background-color: white !important;
  position: absolute;
}

.nav_item {
  color: black;
  margin-right: 5vh;
}

.links{
  text-decoration: none !important;
  color: #000;
}

/*Carousel*/
.arrow_left {
  position: absolute;
  left: 10vh;
}

.images_slider {
  animation-duration: 2s;
  transition-duration: 2s;
}

.arrow_right {
  position: absolute;
  right: 10vh;
}

.info {
  position: absolute;
  text-align: center;
  font-size: 5vh;
  bottom: 12vh;
  left: 12%;
  right: 12%;
  padding: 3vh 6vh;
  display: inline;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  z-index: 1;
  background: rgba(24, 20, 20, 0.5);
}

/*Footer*/
.footer {
  position: relative;
  background: #000;
  color: white;
  padding: 10vh 0vh;
  bottom: 0;
}

.content {
  padding: 0vh 15vh !important;
}

h5 {
  color: #646464 !important;
  font-weight: 700 !important;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  padding-bottom: 5vh;
}

.btn_signUp :hover {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  transition-duration: 1s;
  background-color: #616161 !important;
}

.btn_signUp {
  margin-top: 5vh !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 700 !important;
  height: 7vh;
  width: 40%;
  background-color: white !important;
  border-radius: 1vh !important;
}

.divider {
  background-color: #616161 !important;
  margin-top: 7vh !important;
  width: 100% !important;
}

.bot_divider {
  background-color: #616161 !important;
  margin-top: 8vh !important;
  width: 87% !important;
}

.bot_footer {
  position: relative;
  top: 7vh;
  padding-left: 14vh;
}

/*New*/
.title {
  text-align: center;
  font-size: 5.5vh;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  color: #646464;
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.news {
  background-color: #f4f4f4;
  padding-bottom: 10vh;
}

/*Gallery*/
.gallery {
  text-align: center;
  position: relative;
}

.view_gallery {
  position: relative;
  background: rgba(24, 20, 20, 0.5);
  height: 25vh;
  top: -25.5vh;
}

.view_button {
  position: absolute;
  top: 40%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-weight: 700 !important;
  height: 25%;
  width: 45%;
  background-color: white !important;
  border-radius: 1vh !important;
}

.view_button :hover {
  color: white;
  transition-duration: 1s;
  position: absolute;
  height: 100%;
  background-color: #616161 !important;
  border-radius: 1vh !important;
}
