.links {
  text-decoration: none !important;
  color: #000;
}

.app_bar {
  padding: 1.5rem;
  background-color: #e8efe9 !important;
}

.navbar_editor {
  position: sticky;
  padding: 1rem;
  background-color: #e8efe9 !important;
}

.brand {
  color: #00d084;
  font-weight: bold;
}

.sidebar {
  position: sticky;
}
