body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.mainFont {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
  font-size: 14px;
}

#root {
  min-height: 100vh;
}

.slick-slider .slick-dots button:before,
.slick-dots .slick-active button:before {
  color: rgba(255, 255, 255, 0.85) !important;
}
.slick-slider .slick-slide {
  padding: 0 0 !important;
}

.slick-slide {
  height: unset !important;
}

.slick-slide > div {
  width: 100%;
  height: 100%;
}

.slick-slide > div > img {
  width: 100%;
  height: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-next {
  right: 0 !important;
  display: none !important;
}

.slick-prev {
  left: 0 !important;
  display: none !important;
}

.slick-track .slick-slide {
  display: flex !important;
  max-height: 40rem !important;
  align-items: center !important;
  justify-content: center !important;
}

.blink {
  animation: blink 1.5s linear infinite;
}

video {
  object-fit: unset;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
